.header {
  --margin: .5rem;
  --width: 6rem;
  width: var(--width);
  height: var(--width);
  margin: 0 var(--margin);
  top: var(--margin);
  border-radius: 3rem;
  transition: width 300ms ease-in-out, opacity 150ms ease-in-out;
  transform-origin: top right;
  opacity: 0.3;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  background-color: hsl(90 0% 0% / .5);
  overflow: hidden;
}

.header.active {
  width: calc(100% - (var(--margin) * 2));
  opacity: 1;
}

.header:hover {
  width: calc(100% - (var(--margin) * 2));
  opacity: 1;
}

.header nav ul, .header .icons {
    transition: all 500ms ease;
}

.header:not(:hover,.active) nav ul {
    opacity: 0;
}

.header:not(:hover,.active) .icons {
  scale: 0;
}