.main {
  z-index: 1;
}

.main span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  /* background: #e66465; */
}

.bg_1 {
  width: 50rem ;
  height: 50rem ;
  transform: translate(-40%, -40%);
  z-index: -1;
  background: radial-gradient(#e664648a, transparent, transparent);
}

.bg_2 {
  width: 40rem;
  height: 40rem;
  z-index: -1;
  left: 100% !important;
  transform: translate(-55%, -20%);
  background: radial-gradient(#2564eb83, transparent, transparent);
}

.bg_3 {
  width: 70rem ;
  height: 70rem ;
  left: 100% !important;
  transform: translate(-75%, -55%);
  z-index: -1;
  background: radial-gradient(#facc1565, transparent, transparent);
}
