.section {
  background: #000 url(/lucysbg.png) center center repeat scroll;
  background-size: 350px 350px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}


.section::before {
    content: "";
    filter: var(--url);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    animation: bgscroll 5s linear infinite;
    transform: scale(1.2);
    position: fixed;
    z-index: 0;
}

@keyframes bgscroll {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 350px 350px;
    }
}

.waterSvg {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}